*{
margin: 0;
padding: 0;
}

html{
overflow-y: scroll;
scroll-behavior: smooth;
}

body{
background-color: white;
line-height: 1.6;
height: 100vh;

}

.container{
 width: 100%;
 height: 100vh;
}


  
 
.navbar{
position: fixed;
top: 0;
z-index: 1;
display: flex;
width: 100%;
height: 71px;
background: rgba(0,0,0,0.6);
}

.navbar img{
 margin-right: 20px;
}

.navbar ul{
 display: flex;
 list-style-type: none;
 width: 100%;
 overflow: hidden;
 justfy-content:center;
}

.navbar ul li {
  margin: 1 1rem;
  padding: 1rem;
  
}


.navbar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
 

}

.navbar ul li a:hover{
 background-color: skyblue;
  opacity: 1;
}



.dropbtn {
  display: inline-block;
  color: white;
  text-align: centre;
  padding: 14px 18px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: skyblue;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
 
  display: none;
  position: absolute;
 background: rgba(0,0,0,0.9);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px 14px;
  text-decoration: none;
  display: block;
 }

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

section {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
  width: 100%;
 height: 100vh;
}
 
/*section Images*/
section#home{
 background-image: url("https://media.jtdwjcwq6f4wp4ce.com/tg/Nepal.jpg");
 /*background-position: no-repeat;*/
 background-position: center;
 background-size: cover;
background-attachment: fixed;
 
} 

section#home h1{
  font-size: 3rem;
  color: navy;
  text-shadow:5px 5px 10px white;
   border: 4px solid navy;
  padding: 20px;
  border-top-right-radius: 45px;
  margin-top: 0px;
margin-left: 180px;

  

 }


section#home p{
  
  font-size: 2rem;
  color: white;
  text-shadow:5px 5px 10px navy;
   margin-top: 40px;
   margin-left: 170px;
  font-family: Arial, Helvetica, sans-serif;



  
}

section#explore{
 background-color:#32c4d1;
 width: 100%;
 height: 70%;
}
section#explore h1{
  font-size: 2.7rem;
  color: white;
}

section#upcomingadventures{
 background-color: white;
 width: 100%;
 height: 100%;
}

section#upcomingadventures p{
 margin-top: 60px;
  text-align: center;
  font-size: 2.4rem;
  color: black;
  margin-top: 60px;
}

 .button {
   padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 27px;
  margin: 4px 2px;
  cursor: pointer;
  background-color:#32c4d1;
  color: white;
  border: 2px solid white;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: white ;
  color:#32c4d1;

}

.button a{
color: white;
text-decoration: none;
}


.button1 {
  position: fixed;
  font-size: 15px;
  width: 14%;
  height: 11%;
  bottom: 20px;
  right: 0px;
  border-radius: 40%;
  background-color: #fd6321;
  color: white;
  border: 2px solid white;
  z-index: 1;
} 


.button1:hover {
  background-color: orange;
  color: white;
}


div.a {
  position: relative;
  width: 100%;
  height: 100vh;
}

div.b {
  position: absolute;
  top: 0;
} 



div.gallery {
  margin: 10px;
  margin-top: 180px;
  border: 1px solid #ccc;
  float: left;
  width: 290px;
  height:200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.gallery a{

  font-size: 1rem;
 font-weight: normal;
 
text-transform: capitalize;
}

div.gallery:hover{
 border: 5px solid skyblue;
 background-color: skyblue;
}

div.gallery img {

 
  width: 100%;
  height: 100%;
   
}

div.desc {
  font-size: 1.12rem;
  padding: 40px;
  text-align: center;
  color: #32c4d1;
  font-family: Arial, Helvetica, sans-serif;
   text-transform: uppercase;

}
a:hover {
  color: #32c4d1;
  background-color: transparent;
  text-decoration: underline;
}

section#contactus{
 background-color:white;
 }

section#contactus h1{
  font-weight: normal;
  margin-top: 20px;
  font-size: 2.4rem;
  color: black;
}
.Iframe {
  margin-top: 40px;
  position: absolute;
  top: 0;
  left: 0;
}
section#contactus h3{
  font-size: 1.3rem;
  color: black;
  position: absolute;
  top: 0;
  right:0;
   margin-top: 50px;
  margin-right: 400px;
  
}

section#contactus p{
  font-size: 1.1rem;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 55px;
  margin-right: 20px;
}

section#trainingareas{
 margin-top: 100px;
 background-color: white;
 width: 100%;
 height: 100%;
 }


img.sticky {
  
  top: 0;
  width: 300px;
  height: 200px;
   margin-top: 40px;
  margin-left: 0px;
/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

img.sticky:hover{
 border: 5px solid white;
 background-color: white;
}


section#trainingareas h1{
  top: 40px;
  font-weight: normal;
  margin-top: 90px;
  font-size: 2.4rem;
  color: black;
}
section#trainingareas h2{
  font-weight: normal;
  font-size: 1.4rem;
  text-decoration: underline;
  color:#32c4d1;
font-family: Arial, Helvetica, sans-serif;
   text-transform: uppercase;
  
}
section#trainingareas p{
font-size: 1.3rem;
}

/* Create three equal columns that floats next to each other */
.column {
  margin-top: 50px;
  float: left;
  width: 30%;
  padding: 20px;
  column-gap: 40px;
  

 
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


section#treks{
 background-color: white;
 width: 100%;
 height: 80%;
 }


.footer {
  text-align: center;
  padding: 40px;
  background: #242424;
  margin-top: 0px;
}
.footer p{
   color: white;
  font-size: 1rem; 
   font-style: italic;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }

